annotated-doc==0.0.4
click==8.3.1
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.2.3
numpy-typing-compat==20251206.2.4
optype==0.16.0
pandas==3.0.1
pyarrow==23.0.1
Pygments==2.19.2
python-dateutil==2.9.0.post0
rich==14.3.3
scipy==1.17.1
scipy-stubs==1.17.1.0
shellingham==1.5.4
six==1.17.0
streamlit==1.37.0
tqdm==4.67.3
typer==0.24.1
typing_extensions==4.15.0
plotly==5.22.0
